@import url("global.less");

@main-color: #efefef;
@main-bg-color: #203d53;

body{
	background-color:#eaeaea;
}

.header{
	min-height: 35px;
	background-color: @main-bg-color;
}

.navi{
	height: 60px;
	line-height: 60px;
	background-color: #fff;
	font-family: "Microsoft Yahei";
	.logo{
		float: left;
		margin-right: 80px;
	}
	.navigations{
		li{
			a{
				padding:0 20px;
				display: block;
				&:hover{
					background-color: @main-bg-color;
					color: #ffffff;
				}
			}
		}
	}
}

.banner{
	min-height: 320px;
    background: #eaeaea url("../images/banner-bg.png");
	.banner-wrap{
		width: 1100px;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
	}
    .banner-bg-left{
    	height: 320px;
	    width: 160px;
	    background: url("../images/banner-bg-shadow-left.png") no-repeat;
	    position: absolute;
	    left: -160px;
    }
    .banner-bg-right{
    	height: 320px;
	    width: 160px;
	    background: url("../images/banner-bg-shadow-right.png") no-repeat;
	    position: absolute;
	    right: -160px;
    }    
    .banner-image{
    	float: left;
    	max-width: 670px;
    	max-height: 320px;
    	overflow: hidden;
		position: relative;
		.banner-slogan{
			position: absolute;
			font-size: 20px;
			padding: 10px 15px;
			background-color: #000;
			color: #ffffff;
			opacity: 0.8;
			bottom: 60px;
			left: 80px;
		}
    }
    .login-box{
    	width: 290px;
    	min-height: 320px;
    	float: left;
		position: relative;
		.login-opacity{
			position: absolute;
			width:100%;
			top: 0;
			bottom:0;
			opacity: 0.4;
			filter: alpha(opacity=40);
			-moz-opacity: 0.4;
			-khtml-opacity: 0.4;
			background-color: #000000;
		}
		.login-box-wrap{
			z-index: 10;
			width:250px;
			padding: 10px 20px;
			position: relative;
			.login-header{
				border-bottom: 1px solid #eee;
				.login-header-tab{
					width: 80px;
					color: #ffffff;
					border-bottom: 2px solid dodgerblue;
					margin-bottom:-1px;
					text-align: center;
					padding: 10px 0;
				}
			}
			.login-form{
				margin-top: 10px;
				.login-input-wrap{
					padding: 5px 0;
					border: 1px solid transparent;
					border-radius: 2px;
					background-color: #FFF;
					margin-bottom: 10px;
					background-image: url(../images/sprite_login.png);
					background-repeat: no-repeat;
					background-color: #FFFFFF;
					&.loginid{
						background-position: 11px 12px;
					}
					&.passwd,&.authcode {
						background-position: -38px 12px
					}
					input{
						margin-left: 34px;
						width: 200px;
						border: none;
						box-shadow: none;
						height: 28px;
						line-height: normal;
						&:active, &:focus{
							border: none;
						}
					}
					&.authcode{
						width: 150px;
						float: left;
						margin-right: 10px;
						input{
							width: 100px;
						}
						#img_data{
							float: left;
						}
					}
				}
				.login-button{
					padding: 0 10px 0 10px;
					white-space: nowrap;
					display: inline-block;
					border-radius: 2px;
					height: 24px;
					line-height: 25px;
					text-decoration: none;
					min-width: 40px;
					text-align: center;
					outline: none;
					background: #489cff;
					border: 1px solid #489cff;
					width: 250px;
					font-size: 16px;
					height: 38px;
					line-height: 38px;
					cursor: pointer;
					color: #fff;
					box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
					&:hover{
						background: #3a8bff;
						border: 1px solid #3a8bff;
					}
				}
				.register-button{
					padding: 0 10px;
					white-space: nowrap;
					display: inline-block;
					border-radius: 2px;
					height: 24px;
					line-height: 25px;
					text-decoration: none;
					min-width: 40px;
					text-align: center;
					outline: none;
					background: #ffffff;
					border: 1px solid #dddddd;
					width: 228px;
					margin-top: 10px;
					font-size: 16px;
					height: 38px;
					line-height: 38px;
					cursor: pointer;
					color: #333;
					box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
					&:hover{
						background-color: rgb(230,230,230);
					}
				}
			}
		}
    }
}

.main{
	.container{
		background-color: #fff;
		padding: 20px 0;
	}
	.main-bg{
		    width: 100%;
		    height: 60px;
		    position: absolute;
		    top: 0;
		    left: 0;
		    // background: url('../images/new-list-content-left-bg.png') repeat-x;
		    filter: alpha(opacity=75);
		    opacity: 0.75;
	}
	.news{
		margin: 0 20px;
		width: 420px;
		float: left;
		margin-right: 10px;
		.news-list{
			li{
				line-height: 18px;
				font-size: 14px;
				margin-bottom: 18px;
				overflow: hidden;
				a{
					color: #666;
					font-size: 13px;
					&:hover{
						color: #1e7acd;
					}
				}
				.news-time{
					color:#1e7acd;
				}
			}
		}
	}
	.project{
		margin: 0 20px;
		width: 430px;
		float: left;
		.block-title-inner{
			border-bottom: 2px solid #1e7acd;
		}
		.project-list{
			li{
				padding: 10px 0;
				border-bottom: 1px solid #e0e0e0;
				a{
					color: #666;
					font-size: 13px;
					&:hover{
						color: #1e7acd;
					}
				}
				.project-time{
					float: right;
					color:#999;
					font-size: 13px;
				}
			}
			.project-with-image{
				border-bottom: none;
				width: 410px;
				height: 140px;
				overflow: hidden;
				padding: 0;
				img{
					float: left;
					margin-right: 10px;
				}
				.project-wi-title{
					font-size: 15px;
				}
				.project-wi-detail{
					font-size: 12px;
					line-height: 16px;
					margin-top: 10px;
				}

			}
		}
	}

}

.refer{
	margin-top: 30px;
	padding: 20px 0;
	text-align: center;
	background: #f2f2f2 url('../images/link-list-bg.png') repeat-x;
}

.footer{
	.footer-refer{
		margin-bottom: 10px;
	}
	text-align: center;
	background-color: @main-bg-color;
	padding: 20px 0;
    position: relative;
    color: #879bab;
    font-size: 12px;
	p{
		padding: 5px;
	}
}