@import url("global.less");

@main-color: #efefef;
@main-bg-color: #203d53;

body{
	// background-color:#eaeaea;
}

.header{
	min-height: 35px;
	background-color: @main-bg-color;
}

.navi{
	height: 60px;
	line-height: 60px;
	background-color: #fff;
	font-family: "Microsoft Yahei";
	.logo{
		float: left;
		margin-right: 80px;
	}
	.navigations{
		li{
			a{
				padding:0 20px;
				display: block;
				&:hover{
					background-color: @main-bg-color;
					color: #ffffff;
				}
			}
		}
	}
}

.banner{
	min-height: 300px;
	margin-top:10px;
    // background: #eaeaea url("../images/banner-bg.png");
	.banner-wrap{
		width: 1100px;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
	}
    .banner-bg-left{
    	height: 320px;
	    width: 160px;
	    // background: url("../images/banner-bg-shadow-left.png") no-repeat;
	    position: absolute;
	    left: -160px;
    }
    .banner-bg-right{
    	height: 320px;
	    width: 160px;
	    // background: url("../images/banner-bg-shadow-right.png") no-repeat;
	    position: absolute;
	    right: -160px;
    }
	.banner-main{
		margin-top: -2px;
	}
    .banner-image{
    	float: left;
    	max-width: 650px;
    	max-height: 300px;
    	overflow: hidden;
		position: relative;
		.banner-slogan{
			position: absolute;
			font-size: 20px;
			padding: 10px 15px;
			bottom: 15px;
			left: 30px;
		}
    }
    .login-box{
    	width: 290px;
    	min-height: 300px;
    	float: left;
		position: relative;
		margin-left: 10px;
		.login-opacity{
			position: absolute;
			width:100%;
			top: 0;
			bottom:0;
			background-color: #ebebeb;
		}
		.login-box-wrap{
			z-index: 10;
			width:250px;
			padding: 10px 20px;
			position: relative;
			.login-header{
				border-bottom: 1px solid #eee;
				font-family: "Microsoft Yahei";
				.login-header-tab{
					width: 80px;
					color: #333;
					font-size: 25px;
					width: 100%;
					text-align: center;
					padding: 5px 0;
				}
			}
			.login-form{
				margin-top: 10px;
				.form-item{
					margin-bottom: 10px;
					.form-control{
						height: 32px;
						line-height: 32px;
						font-size: 14px;
						padding: 0 10px;
						border: 1px solid #aaa;
					}
				}
				input {
					width: 220px;
					padding: 0 0 0 30px !important;
					border: none;
					box-shadow: none;
					height: 28px;
					line-height: normal;
					background-image: url("../images/sprite_login.png");
					background-repeat: no-repeat;
					&:active, &:focus {
						border: none;
					}
					&#loginId{
						background-position: 0 8px;
					}
					&#pwd{
						background-position: 0 -21px;
					}
					&#authCode{
						width: 120px;
						background-position: 0 -21px;
						float: left;
						margin-right: 10px;
					}
				}
				.login-button{
					font-family: "Microsoft Yahei";
					padding: 0 10px 0 10px;
					white-space: nowrap;
					display: inline-block;
					border-radius: 2px;
					height: 24px;
					line-height: 25px;
					text-decoration: none;
					min-width: 40px;
					text-align: center;
					outline: none;
					background: #489cff;
					border: 1px solid #489cff;
					width: 250px;
					font-size: 16px;
					height: 38px;
					line-height: 38px;
					cursor: pointer;
					color: #fff;
					&:hover{
						background: #3a8bff;
						border: 1px solid #3a8bff;
					}
				}
				.register-button{
					font-family: "Microsoft Yahei";
					padding: 0 10px;
					white-space: nowrap;
					display: inline-block;
					border-radius: 2px;
					height: 24px;
					line-height: 25px;
					text-decoration: none;
					min-width: 40px;
					text-align: center;
					outline: none;
					background: #ffffff;
					border: 1px solid #dddddd;
					width: 228px;
					margin-top: 10px;
					font-size: 16px;
					height: 38px;
					line-height: 38px;
					cursor: pointer;
					color: #333;
					&:hover{
						background-color: rgb(240,240,240);
					}
				}
			}
		}
    }
}

.main{
	.container{
		background-color: #fff;
		padding: 20px 0;
	}
	.main-bg{
		    width: 100%;
		    height: 60px;
		    position: absolute;
		    top: 0;
		    left: 0;
		    // background: url('../images/new-list-content-left-bg.png') repeat-x;
		    filter: alpha(opacity=75);
		    opacity: 0.75;
	}
	.news{
		margin: 0 20px;
		width: 440px;
		float: left;
		margin-right: 10px;
		.news-list{
			li{
				line-height: 18px;
				font-size: 14px;
				overflow: hidden;
				a{
					color: #333;
					font-size: 13px;
				    max-width: 300px;
				    margin-bottom: 5px;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				    display: inline-block;
					&:hover{
						color: #1e7acd;
					}
				}

				.news-time{
					float: right;
					color:#999;
					font-size: 13px;
				}
			}
		}
	}
	.project{
		margin: 0 20px;
		width: 440px;
		float: left;
		.block-title-inner{
			border-bottom: 2px solid #1e7acd;
		}
		.project-list{
			li{
				line-height: 18px;
				font-size: 14px;
				overflow: hidden;
				a{
					color: #333;
					font-size: 13px;
				    max-width: 300px;
				    margin-bottom: 5px;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				    display: inline-block;
					&:hover{
						color: #1e7acd;
					}
				}
				.project-time{
					float: right;
					color:#999;
					font-size: 13px;
				}
			}
		}
	}

}

.refer{
	margin-top: 30px;
	padding: 20px 0;
	text-align: center;
	background: #f2f2f2 url('../images/link-list-bg.png') repeat-x;
}

.footer{
	.footer-refer{
		margin-bottom: 10px;
	}
	text-align: center;
	background-color: @main-bg-color;
	padding: 20px 0;
    position: relative;
    color: #879bab;
    font-size: 12px;
	p{
		padding: 5px;
	}
}