a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #1e7acd;
}
body,
ul,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
.container {
  width: 960px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.navigations li {
  float: left;
}
.block .block-title {
  font-family: "Microsoft Yahei";
  border-bottom: 2px solid #ddd;
  padding-right: 5px;
  display: block;
}
.block .block-title-inner {
  padding: 5px 12px 5px;
  float: left;
  border-bottom: 2px solid #1e7acd;
  margin-bottom: -2px;
}
.block .block-content {
  padding: 10px;
}
.block .more {
  margin-top: 10px;
  float: right;
  font-size: 14px;
}
.block .more a {
  font-weight: bold;
}
.clearfix {
  clear: both;
}
.header {
  min-height: 35px;
  background-color: #203d53;
}
.navi {
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  font-family: "Microsoft Yahei";
}
.navi .logo {
  float: left;
  margin-right: 80px;
}
.navi .navigations li a {
  padding: 0 20px;
  display: block;
}
.navi .navigations li a:hover {
  background-color: #203d53;
  color: #ffffff;
}
.banner {
  min-height: 300px;
  margin-top: 10px;
}
.banner .banner-wrap {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.banner .banner-bg-left {
  height: 320px;
  width: 160px;
  position: absolute;
  left: -160px;
}
.banner .banner-bg-right {
  height: 320px;
  width: 160px;
  position: absolute;
  right: -160px;
}
.banner .banner-main {
  margin-top: -2px;
}
.banner .banner-image {
  float: left;
  max-width: 650px;
  max-height: 300px;
  overflow: hidden;
  position: relative;
}
.banner .banner-image .banner-slogan {
  position: absolute;
  font-size: 20px;
  padding: 10px 15px;
  bottom: 15px;
  left: 30px;
}
.banner .login-box {
  width: 290px;
  min-height: 300px;
  float: left;
  position: relative;
  margin-left: 10px;
}
.banner .login-box .login-opacity {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: #ebebeb;
}
.banner .login-box .login-box-wrap {
  z-index: 10;
  width: 250px;
  padding: 10px 20px;
  position: relative;
}
.banner .login-box .login-box-wrap .login-header {
  border-bottom: 1px solid #eee;
  font-family: "Microsoft Yahei";
}
.banner .login-box .login-box-wrap .login-header .login-header-tab {
  width: 80px;
  color: #333;
  font-size: 25px;
  width: 100%;
  text-align: center;
  padding: 5px 0;
}
.banner .login-box .login-box-wrap .login-form {
  margin-top: 10px;
}
.banner .login-box .login-box-wrap .login-form .form-item {
  margin-bottom: 10px;
}
.banner .login-box .login-box-wrap .login-form .form-item .form-control {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  padding: 0 10px;
  border: 1px solid #aaa;
}
.banner .login-box .login-box-wrap .login-form input {
  width: 220px;
  padding: 0 0 0 30px !important;
  border: none;
  box-shadow: none;
  height: 28px;
  line-height: normal;
  background-image: url("../images/sprite_login.png");
  background-repeat: no-repeat;
}
.banner .login-box .login-box-wrap .login-form input:active,
.banner .login-box .login-box-wrap .login-form input:focus {
  border: none;
}
.banner .login-box .login-box-wrap .login-form input#loginId {
  background-position: 0 8px;
}
.banner .login-box .login-box-wrap .login-form input#pwd {
  background-position: 0 -21px;
}
.banner .login-box .login-box-wrap .login-form input#authCode {
  width: 120px;
  background-position: 0 -21px;
  float: left;
  margin-right: 10px;
}
.banner .login-box .login-box-wrap .login-form .login-button {
  padding: 0 10px 0 10px;
  white-space: nowrap;
  display: inline-block;
  border-radius: 2px;
  height: 24px;
  line-height: 25px;
  text-decoration: none;
  min-width: 40px;
  text-align: center;
  outline: none;
  background: #489cff;
  border: 1px solid #489cff;
  width: 250px;
  font-size: 16px;
  height: 38px;
  line-height: 38px;
  cursor: pointer;
  color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}
.banner .login-box .login-box-wrap .login-form .login-button:hover {
  background: #3a8bff;
  border: 1px solid #3a8bff;
}
.banner .login-box .login-box-wrap .login-form .register-button {
  padding: 0 10px;
  white-space: nowrap;
  display: inline-block;
  border-radius: 2px;
  height: 24px;
  line-height: 25px;
  text-decoration: none;
  min-width: 40px;
  text-align: center;
  outline: none;
  background: #ffffff;
  border: 1px solid #dddddd;
  width: 228px;
  margin-top: 10px;
  font-size: 16px;
  height: 38px;
  line-height: 38px;
  cursor: pointer;
  color: #333;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}
.banner .login-box .login-box-wrap .login-form .register-button:hover {
  background-color: #f0f0f0;
}
.main .container {
  background-color: #fff;
  padding: 20px 0;
}
.main .main-bg {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  filter: alpha(opacity=75);
  opacity: 0.75;
}
.main .news {
  margin: 0 20px;
  width: 440px;
  float: left;
  margin-right: 10px;
}
.main .news .news-list li {
  line-height: 18px;
  font-size: 14px;
  overflow: hidden;
}
.main .news .news-list li a {
  color: #333;
  font-size: 13px;
  max-width: 300px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
.main .news .news-list li a:hover {
  color: #1e7acd;
}
.main .news .news-list li .news-time {
  float: right;
  color: #999;
  font-size: 13px;
}
.main .project {
  margin: 0 20px;
  width: 440px;
  float: left;
}
.main .project .block-title-inner {
  border-bottom: 2px solid #1e7acd;
}
.main .project .project-list li {
  line-height: 18px;
  font-size: 14px;
  overflow: hidden;
}
.main .project .project-list li a {
  color: #333;
  font-size: 13px;
  max-width: 300px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}
.main .project .project-list li a:hover {
  color: #1e7acd;
}
.main .project .project-list li .project-time {
  float: right;
  color: #999;
  font-size: 13px;
}
.refer {
  margin-top: 30px;
  padding: 20px 0;
  text-align: center;
  background: #f2f2f2 url('../images/link-list-bg.png') repeat-x;
}
.footer {
  text-align: center;
  background-color: #203d53;
  padding: 20px 0;
  position: relative;
  color: #879bab;
  font-size: 12px;
}
.footer .footer-refer {
  margin-bottom: 10px;
}
.footer p {
  padding: 5px;
}
